<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>CRUD</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
    <nav class="navbar navbar-dark">      
      </nav>            
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./dashboard/UsersControlAdmin">Inicio</a>
              </li>                               
              <li class="nav-item">
                <a class="nav-link" href="/logout" style="color:black" id="principal">Cerrar Sesión</a>
              </li>
            </ul>            
          </div>
        </div>
      </nav>
      <% if (client) { %>
      <div class="container mt-4">     
            <div class="card border-secondary">  
                <div class="card-header">Nuevo Cliente</div>
                <div class="card-body">
                    <form action="/saveClient" method="POST">
                        <div class="mb-3">
                            <label for="id" class="form-label">NO. Cliente</label>
                            <input type="text" class="form-control" id="id" name="id" tabindex="9" value="<%= client.consec  %>" readonly>                        
                          </div>
                      <div class="mb-3">
                            <label for="tipCliente" class="form-label">Tipo de Cliente</label>
                            <select id="tipCliente" name="tipCliente" class="form-select" aria-label="Default select example" tabindex="1">
                                <option>RESTAURANTE - CASA - NEGOCIO</option>   
                                <option>EDIFICIO/CONDOMINIO</option>            
                            </select>
                      </div>
                      <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre Completo</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" tabindex="2">
                      </div>
                      <div class="mb-3">
                        <label for="calle" class="form-label">Calle</label>
                        <input type="text" class="form-control" id="calle" name="calle" tabindex="3">
                      </div>
                      <div class="mb-3">
                        <label for="noExt" class="form-label">Número Exterior</label>
                        <input type="text" class="form-control" id="noExt" name="noExt" tabindex="4">
                      </div>
                      <div class="mb-3">
                        <label for="noInt" class="form-label">Número Interior</label>
                        <input type="text" class="form-control" id="noInt" name="noInt" tabindex="5">
                      </div>
                      <div class="mb-3">
                        <label for="cp" class="form-label">Codigo Postal</label>
                        <input type="text" class="form-control" id="cp" name="cp" tabindex="6">
                      </div>
                      <div class="mb-3">
                        <label for="colonia" class="form-label">Colonia</label>
                        <input type="text" class="form-control" id="colonia" name="colonia" tabindex="7">
                      </div>
                      <div class="mb-3">
                        <label for="municipio" class="form-label">Municipio</label>
                        <input type="text" class="form-control" id="municipio" name="municipio" tabindex="8">
                      </div>
                      <div class="mb-3">
                        <label for="estado" class="form-label">Estado</label>
                        <input type="text" class="form-control" id="estado" name="estado" tabindex="9">
                      </div>
                      
                      <div class="mb-3">
                        <label for="frecCarga" class="form-label">Frecuencia de carga</label>
                        <select id="frecCarga" name="frecCarga" class="form-select" aria-label="Default select example" tabindex="11">
                            <option>SEMANAL</option>   
                            <option>QUINCENAL</option>            
                            <option>MENSUAL</option>
                            <option>NO RECURRENTE</option>
                        </select>
                        </div>    
                        <div class="mb-3">
                            <label for="dayCarga" class="form-label">Día preferente de carga</label>
                            <input type="text" class="form-control" id="dayCarga" name="dayCarga" tabindex="12">
                        </div>
                        <div class="mb-3">
                            <label for="tipPago" class="form-label">Tipo de pago</label>
                            <select id="tipPago" name="tipPago" class="form-select" aria-label="Default select example" tabindex="13">
                                <option>EFECTIVO</option>   
                                <option>TARJETA</option>            
                                <option>CREDITO</option>
                            </select>
                            </div> 
                            <div class="mb-3">
                                <label for="bloque" class="form-label">Bloque / Sección en caso de aplicar</label>
                                <select id="bloque" name="bloque" class="form-select" aria-label="Default select example" tabindex="14">
                                  <% opcionesBloque.forEach((nombreBloque) => { %>
                                    <option><%=  nombreBloque %></option>
                                  <% }); %>              
                                  <option>NINGUNO</option>    
                                </select>
                            </div>     
                        <div class="mb-3">
                          <label for="obser" class="form-label">Observaciones</label>
                          <input type="text" class="form-control" id="obser" name="obser" tabindex="15">
                        </div> 
                        <div class="mb-3">
                            <label for="st" class="form-label">Estatus</label>
                            <select id="st" name="st" class="form-select" aria-label="Default select example" tabindex="16">
                                <option>ACTIVO</option>   
                                <option>DESACTIVADO</option>            
                                
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="tel" class="form-label">Telefono</label>
                            <input type="text" class="form-control" id="tel" name="tel" tabindex="17">
                        </div>
                        <div class="mb-3">
                            <label for="mail" class="form-label">Correo Electronico</label>
                            <input type="text" class="form-control" id="mail" name="mail" tabindex="18">
                        </div>
                        <div class="mb-3">
                            <label for="userRe" class="form-label">Usuario Registra</label>
                            <input type="text" class="form-control" id="userRe" name="userRe" value="<%= datos.nombre %>" readonly>
                        </div>

                        

                                                           
                        <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                        <a href="./carteraClientes.ejs" class="btn btn-secondary">Cancelar</a>
                    </form>
                </div>
            </div>        
      </div>
      <% } %>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>