<!DOCTYPE html>
<html>
<head>
    <title>Página de inicio de sesión</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    


        <!-- Agrega esto en tu archivo HTML -->
<% if (messages.error && messages.error.length > 0) { %>
  <div class="alert alert-danger" role="alert">
    <%= messages.error[0] %>
  </div>
<% } %>

        <form action="/login" method="post">
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
          
                      <div class="mb-md-5 mt-md-4 pb-5">
          
                        <h2 class="fw-bold mb-2 text-uppercase">Inicio de Sesión</h2>
                        <p class="text-white-50 mb-5">Ingresa tus credenciales de Usuario</p>
          
                        <div class="form-outline form-white mb-4">
                          <input type="text" name="username" id="username" class="form-control form-control-lg" />
                          <label class="form-label" for="username">Usuario</label>
                        </div>
          
                        <div class="form-outline form-white mb-4">
                          <input type="password" name="password" id="password" class="form-control form-control-lg" />
                          <label class="form-label" for="password">Contraseña</label>
                        </div>
          
                        
          
                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Inicia Sesión</button>
          
                        
          
                      </div>
          
                      <div>
                        
                        </p>
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </form>
          
    
          <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
          <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
          <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>    
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>

          
    
    
</body>
</html>
